{% extends 'front/base/base_auther.html' %}
{% load static %}
    {% block content %}
        <!-- About Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{{ about.image_main.url }}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">About Us</div>
                        <h2 class="mb-4">{{ about.title_main }}</h2>
                        <p class="mb-4">{{ about.description_main }}</p>
                        <div class="row g-3 mb-4">
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="{{ about.image_one }} text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>{{ about.title_one }}</h6>
                                    <span>{{ about.description_one }}</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="{{ about.image_two }} text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>{{ about.title_two }}</h6>
                                    <span>{{ about.description_two }}</span>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Features Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Features</div>
                        <h2 class="mb-4">{{ feature_description.title }}</h2>
                        <p>{{ feature_description.description }}</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-5">
                            {% for feature in features|slice:"0:6" %}
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                            <i class="{{ feature.image }} text-white"></i>
                                        </div>
                                        <h6 class="mb-0">{{ feature.title }}</h6>
                                    </div>
                                    <span>{{ feature.title }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->
        
        
        <!-- Team Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Team</div>
                    <h2 class="mb-5">Meet Our Team Members</h2>
                </div>
                <div class="row g-4">
                    {% for team in teams %}
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <h5>{{ team.name }}</h5>
                                <p class="mb-4">{{ team.designation }}</p>
                                <img class="img-fluid rounded-circle w-100 mb-4" src="{{ team.photo.url }}" alt="">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square text-primary bg-white m-1" href="{{ team.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white m-1" href="{{ team.twitter_link }}"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white m-1" href="{{ team.likedin_link }}"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team End -->
   {% endblock content %}