{% extends 'front/base/base_home.html' %}
{% load static %}
        {% block content %}

        <!-- About Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{{ about.image_main.url }}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">About Us</div>
                        <h2 class="mb-4">{{ about.title_main }}</h2>
                        <p class="mb-4">{{ about.description_main }}</p>
                        <div class="row g-3 mb-4">
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-user-tie text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>{{ about.title_one }}</h6>
                                    <span>{{ about.description_one }}</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-chart-line text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>{{ about.title_two }}</h6>
                                    <span>{{ about.description_two }}</span>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Newsletter Start -->
        <div class="container-xxl bg-primary my-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container px-lg-5">
                <div class="row align-items-center" style="height: 250px;">
                    <div class="col-12 col-md-6">
                        <h3 class="text-white">Ready to get started</h3>
                        <small class="text-white">Diam elitr est dolore at sanctus nonumy.</small>
                        <div class="position-relative w-100 mt-3">
                            <form method="post">
                                {% csrf_token %}
                                <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Enter Your Email" style="height: 48px;" name="email_newlater">

                                <button type="submit" id="bnt_newslater" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2" hx-post="{% url 'front_index' %}" hx-swap="none" hx-trigger="click">
                                    <i class="fa fa-paper-plane text-primary fs-4"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 text-center mb-n5 d-none d-md-block">
                        <img class="img-fluid mt-5" style="max-height: 250px;" src="{% static 'front/img/newsletter.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->
        <!-- Service Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Services</div>
                    <h2 class="mb-5">We Provide Solutions On Your Business</h2>
                </div>
                <div class="row g-4">
                    {% for service in services %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item rounded h-100">
                                <div class="d-flex justify-content-between">
                                    <div class="service-icon">
                                        <i class="fa fa-user-tie fa-2x"></i>
                                    </div>
                                    <a class="service-btn" href="">
                                        <i class="fa fa-link fa-2x"></i>
                                    </a>
                                </div>
                                <div class="p-5">
                                    <h5 class="mb-3">{{ service.title }}</h5>
                                    <span>{{ service.description }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Service End -->

        <!-- Features Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Features</div>
                        <h2 class="mb-4">{{ feature_description.title }}</h2>
                        <p>{{ feature_description.description }}</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-5">
                            {% for feature in features|slice:"0:6" %}
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                            <i class="fa fa-cubes text-white"></i>
                                        </div>
                                        <h6 class="mb-0">{{ feature.title }}</h6>
                                    </div>
                                    <span>{{ feature.title }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->

        <!-- Client Start -->
        <div class="container-xxl bg-primary my-6 py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="owl-carousel client-carousel">
                {% for logo in logos %}
                    <a href="{{ logo.url }}"><img class="img-fluid" src="{{ logo.image.url }}" alt=""></a>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Client End -->

        <!-- Testimonial Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Testimonial</div>
                    <h2 class="mb-5">What Our Clients Say!</h2>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    {% for testimonial in testimonials %}
                        <div class="testimonial-item rounded p-4">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p>{{ testimonial.message }}</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ testimonial.user.photo.url }}">
                                <div class="ps-3">
                                    <h6 class="mb-1">{{ testimonial.user.first_name }} {{ testimonial.user.last_name }}</h6>
                                    <small>{{ testimonial.user.profession }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Team Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Team</div>
                    <h2 class="mb-5">Meet Our Team Members</h2>
                </div>
                <div class="row g-4">
                    {% for team in teams %}
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <h5>{{ team.name }}</h5>
                                <p class="mb-4">{{ team.designation }}</p>
                                <img class="img-fluid rounded-circle w-100 mb-4" src="{{ team.photo.url }}" alt="">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square text-primary bg-white m-1" href="{{ team.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white m-1" href="{{ team.twitter_link }}"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white m-1" href="{{ team.likedin_link }}"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team End -->

        {% endblock content %}